.advanced, #menu-items, .masks select:not(.input) { display: none; }
#menu-items {
  height: auto !important;
  margin: 0 0 5px 0 !important;
  padding: 10px !important;
}
label h3 { display: inline; font-size: 15px; }
span.description {
  margin:0px 0 5px 0;
  font-size: 12px;
  color:#999;"
}